<body>


  <h2>Danh sách Sinh viên</h2>

  <input type="text" [(ngModel)]="searchKeyword" (input)="search()" placeholder="Tìm kiếm...">

  <button (click)="search()">Tìm kiếm</button>
  <button *ngIf="!showAddStudentModal" (click)="openAddStudentForm()">Thêm Sinh Viên</button>
  <div [class.active]="showAddStudentModal" class="nenmodal">
    <div class="nenmodal2" (click)="toggleAddStudentModal()"></div>
    <div class="ndmodal">
      <div class="closemodal">
        <button (click)="toggleAddStudentModal()">&times;</button>
      </div>
      <div class="titlemodal">Thêm Thông Tin Sinh Viên</div>
      <form class="student-form" #addStudentForm="ngForm" (ngSubmit)="addStudent(); closeAddStudentForm()">
        <label for="studentId">ID sinh viên:</label>
        <input type="text" id="studentId" name="studentId" [(ngModel)]="newStudent.studentId" required>
        <label for="studentName">Tên sinh viên:</label>
        <input type="text" id="studentName" name="studentName" [(ngModel)]="newStudent.studentName" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="Email" [(ngModel)]="newStudent.email" required>
        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="Password" [(ngModel)]="newStudent.password" required>
        <label for="phoneNumber">Số điện thoại:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="newStudent.phoneNumber" required>
        <label for="registrationDate">Ngày đăng ký:</label>
        <input type="date" id="registrationDate" name="registrationDate" [(ngModel)]="newStudent.registrationDate"
          required>
        <div class="form-buttons">
          <button type="submit">Thêm</button>
          <button type="button" (click)="closeAddStudentForm()">Huỷ</button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="showEditStudentModal" class="nenmodal active">
    <div class="nenmodal2" (click)="toggleEditStudentModal()"></div>
    <div class="ndmodal">
      <div class="closemodal">
        <button (click)="toggleEditStudentModal()">&times;</button>
      </div>
      <div class="titlemodal">Cập Nhật Thông Tin Sinh Viên</div>
      <form class="student-form" #editStudentForm="ngForm"
        (ngSubmit)="updateStudent(editStudentForm?.value); closeEditStudentForm(); editStudentForm.resetForm()">
        <label>ID sinh viên:</label>
        <input type="text" name="studentId" [ngModel]="selectedStudent?.studentId" readonly>
        <label>Tên sinh viên:</label>
        <input type="text" name="studentName" [ngModel]="selectedStudent?.studentName" required>
        <label>Số điện thoại:</label>
        <input type="text" name="phoneNumber" [ngModel]="selectedStudent?.phoneNumber" required>
        <div class="form-buttons">
          <button type="submit">Lưu</button>
          <button type="button" (click)="closeEditStudentForm()">Huỷ</button>
        </div>
      </form>
    </div>
  </div>

  <div class="nenmodal" id="nenmodal-1">
    <div class="nenmodal2"></div>
    <div class="ndmodal">
      <div class="closemodal">
        <button (click)="momodal()">×</button>
      </div>
      <div *ngIf="showEnrollForm">
        <div class="titlemodal">Đăng Ký Lớp</div>
        <p>Chọn lớp cho sinh viên {{ selectedStudent?.studentName }}</p>
        <select [(ngModel)]="enrollClassId">
          <option *ngFor="let class of classStudentSelected" [value]="class.classId">{{ class.courseId }}-{{
            class.classId }}</option>
        </select><br />
        <button (click)="enrollStudentInClass(selectedStudent?.studentId!, enrollClassId)">Đăng ký</button>
        <button (click)="closeEnrollForm()">Hủy</button>
      </div>
    </div>
  </div>



  <div class="nenmodal" id="nenmodal-2">
    <div class="nenmodal2"></div>
    <div class="ndmodal">
      <div class="closemodal">
        <button (click)="momodal()">×</button>
      </div>
      <div *ngIf="loadStudentClasses">
        <div class="titlemodal">Các Lớp Đã Đăng Ký</div>
        <table class="student-class-table">
          <thead>
            <tr>
              <th>Mã lớp</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let class of studentClasses">
              <td>{{ class.courseId }}{{ class.classId }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <table class="student-table">
    <thead>
      <tr>
        <th>Mã SV</th>
        <th>Tên sinh viên</th>
        <th>Email</th>
        <!-- <th>Password</th> -->
        <th>Số điện thoại</th>
        <th>Thời gian đăng ký</th>
        <th>Chức năng</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.studentId }}</td>
        <td>{{ student.studentName }}</td>
        <td>{{ student.email }}</td>
        <!-- <td>{{ student.password }}</td> -->
        <td>{{ student.phoneNumber }}</td>
        <td>{{ student.registrationDate | date: 'dd/MM/yyyy' }}</td>
        <td>
          <button (click)="deleteStudent(student.studentId)" class="fas fa-trash btn-delete"></button>
          <button (click)="openEditStudentForm(student)" class="fas fa-edit btn-edit"></button>
          <button onclick="momodal()" (click)="openEnrollForm(student)"
            class="fa-solid fa-user-plus btn-enroll"></button>
        </td>
      </tr>
    </tbody>
  </table>
</body>