<h2>Danh sách Sinh viên</h2>

<input type="text" [(ngModel)]="searchKeyword" (input)="search()" placeholder="Tìm kiếm...">

<button (click)="loadStudents()">Sắp xếp theo thời gian đăng ký</button>
<button (click)="search()">Tìm kiếm</button><button *ngIf="!showAddStudentForm" (click)="openAddStudentForm()">Thêm Sinh
  Viên</button>
<div *ngIf="showAddStudentForm">
  <h3>Thêm Thông Tin Sinh Viên</h3>
  <form #addStudentForm="ngForm" (ngSubmit)="addStudent(); closeAddStudentForm()">
    <label for="studentId">ID sinh viên:</label>
    <input type="text" id="studentId" name="studentId" [(ngModel)]="newStudent.studentId" required>
    <label for="studentName">Tên sinh viên:</label>
    <input type="text" id="studentName" name="studentName" [(ngModel)]="newStudent.studentName" required>
    <label for="email">Email:</label>
    <input type="email" id="email" name="Email" [(ngModel)]="newStudent.email" required>
    <label for="password">Mật khẩu:</label>
    <input type="password" id="password" name="Password" [(ngModel)]="newStudent.password" required>
    <label for="phoneNumber">Số điện thoại:</label>
    <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="newStudent.phoneNumber" required>
    <label for="registrationDate">Ngày đăng ký:</label>
    <input type="date" id="registrationDate" name="registrationDate" [(ngModel)]="newStudent.registrationDate" required>
    <label for="midtermGrade">Điểm giữa kỳ:</label>
    <input type="text" id="midtermGrade" name="midtermGrade" [(ngModel)]="newStudent.midtermGrade">
    <label for="finalGrade">Điểm cuối kỳ:</label>
    <input type="text" id="finalGrade" name="finalGrade" [(ngModel)]="newStudent.finalGrade">
    <button type="submit">Thêm</button>
    <button type="button" (click)="closeAddStudentForm()">Huỷ</button>
  </form>
</div>

<div *ngIf="showEditStudentForm">
  <h3>Cập Nhật Thông Tin Sinh Viên</h3>
  <form #editStudentForm="ngForm"
    (ngSubmit)="updateStudent(editStudentForm.value); closeEditStudentForm(); editStudentForm.resetForm()">
    <label>ID sinh viên:</label>
    <input type="text" name="studentId" [ngModel]="selectedStudent?.studentId" readonly>
    <label>Tên sinh viên:</label>
    <input type="text" name="studentName" [ngModel]="selectedStudent?.studentName" required>
    <label>Email:</label>
    <input type="text" name="Email" [ngModel]="selectedStudent?.email" required>
    <label>Password:</label>
    <input type="text" name="Password" [ngModel]="selectedStudent?.password" required>
    <label>Số điện thoại:</label>
    <input type="text" name="phoneNumber" [ngModel]="selectedStudent?.phoneNumber" required>
    <button type="submit">Lưu</button>
    <button type="button" (click)="closeEditStudentForm()">Huỷ</button>
  </form>
</div>

<div *ngIf="showEnrollForm">
  <h3>Đăng Ký Lớp</h3>
  <p>Chọn lớp cho sinh viên {{ selectedStudent?.studentName }}</p>
  <select [(ngModel)]="enrollClassId">
    <option *ngFor="let class of classes" [value]="class.classId">{{ class.classId }}</option>
  </select><br />
  <button (click)="enrollStudentInClass(selectedStudent?.studentId!, enrollClassId)">Đăng ký</button>
  <button (click)="closeEnrollForm()">Hủy</button>
</div>


<div *ngIf="loadStudentClasses">
  <h3>Các Lớp Đã Đăng Ký</h3>
  <table class="student-table">
    <thead>
      <tr>
        <th>Mã lớp</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let class of studentClasses">
        <td>{{ class.classId }}</td>
      </tr>
    </tbody>
  </table>
</div>



<table class="student-table">
  <thead>
    <tr>
      <th>Mã SV</th>
      <th>Tên sinh viên</th>
      <th>Email</th>
      <th>Password</th>
      <th>Số điện thoại</th>
      <th>Thời gian đăng ký</th>
      <th>Chức năng</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.studentId }}</td>
      <td>{{ student.studentName }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.password }}</td>
      <td>{{ student.phoneNumber }}</td>
      <td>{{ student.registrationDate | date: 'dd/MM/yyyy' }}</td>
      <td>
        <button (click)="deleteStudent(student.studentId)" class="btn-delete">Xóa</button>
        <button (click)="openEditStudentForm(student)" class="btn-edit">Sửa</button>
        <button (click)="openEnrollForm(student)" class="btn-enroll">Đăng ký lớp</button>
        <button (click)="loadStudentClasses(student.studentId)" class="btn-view-classes">Xem lớp</button>
      </td>
    </tr>
  </tbody>
</table>