<div class="container" *ngIf="studentInfo">
  <div class="student-info">
    <h2>{{ studentInfo.studentName }}</h2>
    <p>Email: {{studentInfo.email}}</p>
    <p>Số điện thoại: {{ studentInfo.phoneNumber }}</p>
    <p>Ngày đăng ký: {{ studentInfo.registrationDate | date }}</p>
  </div>

  <h3>Danh sách lớp học đã đăng ký</h3>
  <table class="class-table">
    <thead>
      <tr>
        <th>Mã khóa học</th>
        <th>Tên lớp học</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let classcourse of newlist">
        <td>{{ classcourse.courseId }}</td>
        <td>{{ classcourse.classId }}</td>
      </tr>
    </tbody>
  </table>
  <div class="button-group">
    <button class="send-email-button" (click)="sendEmail()">Gửi Email</button>
    <button class="logout-button" (click)="logout()">Đăng xuất</button>
    <button class="change-password-button" (click)="showChangePasswordForm = true">Đổi mật khẩu</button>
  </div>
  <div class="notification-popup" [class.show]="showNotification">
    {{ notificationMessage }}
  </div>

  <div class="change-password-form" *ngIf="showChangePasswordForm">
    <h3>Đổi mật khẩu</h3>
    <form (ngSubmit)="changePassword()" #changePasswordForm="ngForm">
      <div class="form-group">
        <label for="oldPassword">Mật khẩu cũ</label>
        <input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="oldPassword" required>
      </div>
      <div class="form-group">
        <label for="newPassword">Mật khẩu mới</label>
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Nhập lại mật khẩu mới</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
      </div>
      <button type="submit" [disabled]="!changePasswordForm.valid">Đổi mật khẩu</button>
      <button type="button" (click)="cancelChangePassword()">Hủy</button>
    </form>
</div>
