<div class="container" *ngIf="studentInfo">
  <div class="student-info">
    <h2>{{ studentInfo.studentName }}</h2>
    <p>Gmail: {{studentInfo.email}}</p>
    <p>Số điện thoại: {{ studentInfo.phoneNumber }}</p>
    <p>Ngày đăng ký: {{ studentInfo.registrationDate | date }}</p>
  </div>

  <h3>Danh sách lớp học đã đăng ký</h3>
  <table class="class-table">
    <thead>
      <tr>
        <th>Mã khóa học</th>
        <th>Tên lớp học</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let classcourse of newlist">
        <td>{{ classcourse.courseId }}</td>
        <td>{{ classcourse.classId }}</td>
      </tr>
    </tbody>
  </table>
  <div class="button-group">
    <button class="send-email-button" (click)="sendEmail()">Send Email</button>
    <button class="logout-button" (click)="logout()">Logout</button>
  </div>
  <div class="notification-popup" [class.show]="showNotification">
    {{ notificationMessage }}
  </div>
</div>