<div class="aboutus">  
        <section class="about">
            <h1>Về chúng tôi</h1>
            <p style="font-weight: bold">
              LinguaLab - Trung tâm Anh ngữ Đẳng cấp quốc tế
              </p>
            <div class="about-info">
                <div class="about-img">
                    <img src= "..\assets\LinguaLab (1).png" alt="LingualLab">
                </div>
                <div>
                <p> LinguaLab là hệ thống Trung tâm Anh ngữ Quốc Tế được thành lập vào năm 2021 chuyên về Khóa Học IELTS, Tiếng Anh Trẻ em và Người lớn.Hiện nay LinguaLab có tổng cộng 10 Chi nhánh trên toàn quốc và đang giữ kỷ lục trung tâm có số lượng học viên học chứng chỉ quốc tế IELTS đông cả nước (34300 học viên, thống kê 2024) và cũng đã và luôn giữ kỷ lục số học viên đạt điểm IELTS cao cả nước trong suốt 3 năm liên tiếp. 
                </p>
                </div>
            </div>
        </section>
     
        <section class="team">
            <h1>ĐỘI NGŨ SÁNG LẬP</h1>
            <div class="team-cards">             
                <div class="card">
                    <div class="card-img">
                        <img src="..\assets\lmv.jpg" alt="User 1">
                    </div>
                    <div class="card-info">
                        <h2 class="card-name">Lê Minh Vũ</h2>
                        <p class="card-role">President and Founder</p>
                        <p class="card-email">vu.leminh@lingualab.edu.vn</p>
                        <p><button class="button">Chi tiết</button></p>
                    </div>
                </div>
               
                <div class="card">
                    <div class="card-img">
                        <img src="..\assets\dxt.jpg" alt="User 2">
                    </div>
                    <div class="card-info">
                        <h2 class="card-name">Đặng Xuân Thịnh</h2>
                        <p class="card-role">CEO and Co-Founder</p>
                        <p class="card-email">thinh.dangxuan@lingualab.edu.vn</p>
                        <p><button class="button">Chi tiết</button></p>
                    </div>
                </div>
               
                <div class="card">
                    <div class="card-img">
                        <img src="..\assets\dht.jpg" alt="User 3">
                    </div>
                    <div class="card-info">
                        <h2 class="card-name">Đỗ Huỳnh Thân</h2>
                        <p class="card-role">CTO and Co-Founder</p>
                        <p class="card-email">than.dohuynh@lingualab.edu.vn</p>
                        <p><button class="button">Chi tiết</button></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="..\assets\dqv.jpg" alt="User 4">
                    </div>
                    <div class="card-info">
                        <h2 class="card-name">Đinh Quốc Vinh</h2>
                        <p class="card-role">CIO and Co-Founder</p>
                        <p class="card-email">vinh.dinhquoc@lingualab.edu.vn</p>
                        <p><button class="button">Chi tiết</button></p>
                    </div>
                </div>
            </div>
        </section>
</div>