h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: grid;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 20px;
}

li a{
    height: 20rem;
    width: 20rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    margin: 2.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
    text-decoration: none;
    transition: transform 0.2s ease-in-out; 
    perspective: 1000px; /* Tạo không gian 3D */

}

li a:hover {
    transform: translateY(-5px); 
  }

li a img{
    object-fit: cover;
    height: 50rem;
    width: 100%;
    height: 150px;
    max-width: 100%;
    transform: translateZ(-100px) scale(1.1); /* Di chuyển ảnh ra xa và phóng to */
    transition: transform 0.5s ease-out;
}

li a:hover img {
    transform: translateZ(0) scale(1.2); /* Đưa ảnh về gần và phóng to hơn khi hover */
  }

.content{
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    position: relative;
    height: 20  rem;
    box-shadow: 2000;
    opacity: 1;
    z-index: 1;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
    color: #666;
    line-height: 1.5;

}