

#bottom-page{
    position:relative;
    width: 100%;
    height: 340px;
    /* width: 100%;
    height: 100%; */
    float: inline-end;

    background: #87DD9A;

}

#div-title{
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 1px;

    background: #262261;
}

#title{    
    text-align: center;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 800;
    font-style: normal;
    width: auto;
    height: 70px;

    color: #FFFFFF;
}

#container{
    width: 80%;
    float: left;
    right: 10%;
    position: absolute;
    align-items: center;
    top: 75px;
    display: flex;
    justify-content: space-between;
}
.lingualab{
    width: 200px;
    height: 52px;
    overflow: hidden;
}

.content{
    width: 33%;    
    height: auto;
    align-items: center;
    text-align: left;
    
}

.content h3{
    position: absolute;
    border-bottom: 10px;
    font-size: 20px;
    top: 2%;    
    color: #FFFFFF;
    font-weight: 600;
}


.textbox{
    box-sizing: border-box;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;  

}

.icon{
    width: 30px;
    height: 30px;
}

.textbox img{
    float: left;
}

.textbox p{
    text-align: center;
    width: 245px;
    height: auto;
    text-align: left;    
}

.box-icon{
    position: absolute;
    width: 245px;
    height: auto;
    left: 15px;
    
}

.box-icon img{
    width: 48px;
    height: 48px;
    top: 20px;
    margin-right: 15px;
    
}





