<div id ='block-bottom'>
    <div id = 'div-title'>
        <h3 id ='title'> NO ONE CAN CHANGE THE PAST BUT WE CAN MANAGE THE FUTURE</h3>
    </div>

    <div id = 'bot-block'>
        <img id = 'lingualab' src=".\assets\image\lingualab.png"/>
        <img class = 'icon' src =".\assets\image\call.png">
        <img class = 'icon' src =".\assets\image\place.png">
        <img class = 'icon' src =".\assets\image\Facebook.png">
        <img class = 'icon' src =".\assets\image\YouTube.png">
        <img class = 'icon' src =".\assets\image\Globe.png">
    </div>
</div>  
