<div>
    <div class='background-container'>
        <div class="text-container">
            SUPPER KIDS<br>
            XÂY DỰNG NỀN TẢNG <br>
            TIẾNG ANH VỮNG CHẮC CHO BÉ
        </div>
        <img src="assets/kids-main.png" alt="">
    </div>
</div>
<div class="main-container">
    <p class="title">PHƯƠNG PHÁP HỌC TIẾN ANH <br>
        THỰC TẾ & VUI NHỘN</p>

    <img src="assets/kids.png" alt="main">
    <div class="content">
        <div>
            <p id="header1"> PHÁT TRIỂN TƯ DUY</p><br>
            <div id="paragraph-box1">
                Khi trí óc và cơ thể trẻ được thoải mái<br>
                hoạt động, trẻ có thể đưa ra những<br>
                giải pháp bất ngờ cho vấn đề bằng<br>
                trí tưởng tượng phong phú của mình.
            </div>
        </div>
        <div>
            <p id="header2">TẠO CẢM HỨNG HỌC TẬP</p><br>
            <div id="paragraph-box2">
                Trẻ phát triển nhận thức, hành vi,<br>
                cảm xúc và mối quan hệ xã hội.<br>
                Từ đó, gia tăng sự linh hoạt,<br>
                thúc đẩy tính độc lập và<br>
                rèn luyện kỹ năng giải quyết vấn đề.
            </div>
        </div>
        <div>
            <p id="header3">KHUYẾN KHÍCH SÁNG TẠO</p><br>
            <div id="paragraph-box3">
                Khi trí óc và cơ thể trẻ được thoải mái hoạt động,<br>
                trẻ có thể đưa ra những giải pháp bất ngờ cho<br>
                vấn đề bằng trí tưởng tượng phong phú của mình.
            </div>
        </div>
        <div>
            <p id="header4">TẠO CẢM HỨNG HỌC TẬP</p><br>
            <div id="paragraph-box4">
                Trẻ phát triển nhận thức, hành vi,<br>
                cảm xúc và mối quan hệ xã hội.<br>
                Từ đó, gia tăng sự linh hoạt,<br>
                thúc đẩy tính độc lập và<br>
                rèn luyện kỹ năng giải quyết vấn đề.
            </div>
        </div>
    </div>
</div>
<div class="end-container">
    <p class="title">HỆ THỐNG GIÁO DỤC</p>

</div>