<app-navidas></app-navidas>
<div>
    <div class='background-container'>
        <div class="text-container">
            SUPPER KIDS<br>
            XÂY DỰNG NỀN TẢNG <br>
            TIẾNG ANH VỮNG CHẮC CHO BÉ
        </div>
        <img src="assets/kids-main.png" alt="">
    </div>
</div>
<p class="title">PHƯƠNG PHÁP HỌC TIẾN ANH <br>
    THỰC TẾ & VUI NHỘN</p>
<div class="main-container">
    <img src="assets/kids.png" alt="main">
    <div class="content">
        <div class="number_1">
            <img src="assets/number_1.png" alt="">
            <p id="header1"> PHÁT TRIỂN TƯ DUY</p>
            <div id="paragraph-box1">
                Khi trí óc và cơ thể trẻ được thoải mái
                hoạt động, trẻ có thể đưa ra những
                giải pháp bất ngờ cho vấn đề bằng
                trí tưởng tượng phong phú của mình.
            </div>
        </div>
        <div class="number_2">
            <img src="assets/number_2.png" alt="">
            <p id="header2">TẠO CẢM HỨNG HỌC TẬP</p>
            <div id="paragraph-box2">
                Trẻ phát triển nhận thức, hành vi,
                cảm xúc và mối quan hệ xã hội.
                Từ đó, gia tăng sự linh hoạt,
                thúc đẩy tính độc lập và
                rèn luyện kỹ năng giải quyết vấn đề.
            </div>
        </div>
        <div class="number_3">
            <img src="assets/number_3.png" alt="">
            <p id="header3">KHUYẾN KHÍCH SÁNG TẠO</p>
            <div id="paragraph-box3">
                Khi trí óc và cơ thể trẻ được thoải mái hoạt động,
                trẻ có thể đưa ra những giải pháp bất ngờ cho
                vấn đề bằng trí tưởng tượng phong phú của mình.
            </div>
        </div>
        <div class="number_4">
            <img src="assets/number_4.png" alt="">
            <p id="header4">TẠO CẢM HỨNG HỌC TẬP</p>
            <div id="paragraph-box4">
                Các trò chơi mang tính tương tác với bạn bè giúp trẻ
                hiểu về các mối quan hệ xã hội, xác định các giới hạn,
                các quy tắc ứng xử, học cách chia sẻ và cảm thông,…
            </div>
        </div>
    </div>
</div>

<p class="title">HỆ THỐNG GIÁO DỤC</p>
<div class="end-container">
    <div class="box1">
        <img src="assets/box1.png" alt="">
        <p id="header-box1">KẾT HỢP KIẾN THỨC
            & CHỦ ĐỀ THỰC TẾ</p>
        <div id="content-box1">
            Quy trình giảng dạy tích hợp
            công nghệ hiện đại, giúp trẻ
            nhanh chóng nắm bắt
            kiến thức.
        </div>
    </div>
    <div class="box2">
        <img src="assets/box2.png" alt="">
        <p id="header-box2">CÔNG NGHỆ CAO ĐƯA
            VÀO GIẢNG DẠY</p>
        <div id="content-box2">
            Ứng dụng công nghệ đa nền tảng
            giúp trẻ cảm thụ bài giảng
            một cách chân thực
            sinh động.
        </div>
    </div>
    <div class="box3">
        <img src="assets/box3.png" alt="">
        <p id="header-box3">PHƯƠNG PHÁP DẠY HỌC
            THÚ VỊ</p>
        <div id="content-box3">
            Thông qua trò chơi trong
            giờ học và thực hành bé
            sẽ được học được nhiều
            kiến thức hơn, mang đến
            không gian vừa học
            vừa chơi.
        </div>
    </div>
</div>
<app-bottom></app-bottom>