<div class="courselist">
    <h2>Khóa học<span> Nổi bật</span></h2>
    <div class="flex">
        <div class="course1">
            <div class="imgCourse">
                <img src="./assets/course1.jpg" alt="logo">
            </div>
            <div class="flex">
                <p class="title">Tiếng Anh cho trẻ em</p>
                <a routerLink="/childrenstudy"><button class="btn"><i class="fa fa-bars"></i></button></a>
            </div>
        </div>
        <div class="course2">
            <div class="imgCourse">
                <img src="./assets/course2.jpg" alt="logo">
            </div>
            <div class="flex">
                <p class="title">Tiếng Anh cho người lớn</p>
                <a routerLink="/adultstudy"><button class="btn"><i class="fa fa-bars"></i></button></a>
            </div>
        </div>
        <div class="course3">
            <div class="imgCourse">
                <img src="./assets/course3.png" alt="logo">
            </div>
            <div class="flex">
                <p class="title">Luyện thi IELTS cấp tốc</p>
                <a routerLink="/ieltsstudy"><button class="btn"><i class="fa fa-bars"></i></button></a>
            </div>
        </div>
    </div>
</div>
