h2{
  color: #262261;
}
span{
  color: #50DD6F;
}
.courselist{
  width: 90%;
  height: 55vh;
  font-family: "M PLUS Rounded 1c", sans-serif;
  padding: 20px 16px;
  margin: auto;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgCourse{
  width: 428px;
  height: 285px;
  overflow: hidden;
}
.title{
  background: #262261;
  color: white;
  text-transform: uppercase;
  padding: 20px 10px;
  width:329px;
  height: auto;
  margin-top: 0px;
  font-size: 16px;
  text-align: center;
}
.btn {
  background-color: #50DD6F;
  border: none;
  color: white;
  padding: 24px;
  width: 99px;
  height: auto;
  cursor: pointer;
  margin-top: -16px;
}
.btn:hover {
  background-color: #262261;
}

.course1, .course2, .course3{
  width: 428px;
  height: 405px;
}