<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <h2>Khóa học<span> Nổi bật</span></h2>
        <div class="flex">
            <div class="course1">
                <div class="imgCourse">
                    <img src="./assets/course1.jpg" alt="logo">
                </div>
                <div class="flex">
                    <p class="title">Tiếng Anh cho trẻ em</p>
                    <button class="btn"><i class="fa fa-bars"></i></button>
                </div>
            </div>
            <div class="course2">
                <div class="imgCourse">
                    <img src="./assets/course2.jpg" alt="logo">
                </div>
                <div class="flex">
                    <p class="title">Tiếng Anh cho người lớn</p>
                    <button class="btn"><i class="fa fa-bars"></i></button>
                </div>
            </div>
            <div class="course3">
                <div class="imgCourse">
                    <img src="./assets/course3.png" alt="logo">
                </div>
                <div class="flex">
                    <p class="title">Luyện thi IELTS cấp tốc</p>
                    <button class="btn"><i class="fa fa-bars"></i></button>
                </div>
            </div>
        </div>
    </body>
</html>
