<div class="ban">
        <div class="flexban">
            <div class="banner">
                <div class="image-container-left">
                    <img src="assets/EnglishBanner.png" alt="background-left">
                </div>
                <div class="image-container-right">
                    <div class="text">
                        <p class="title1"> Chào mừng bạn đến với <span><br>HÀNH TRÌNH XÂY DỰNG TƯƠNG LAI</span></p>
                        <div class="para">
                            <p>LinguaLab với khát vọng mang đến chất lượng đào tạo Quốc Tế cho thế hệ công dân</p>
                            <p>Toàn cầu. Đồng hành cùng LinguaLab là đội ngũ giáo viên có 100 năm kinh nghiệm.</p>
                            <p> trong lĩnh vực giáo dục.</p>
                        </div>
                        <div class="buttonbanner">
                            <li><a href="#">Tìm hiểu thêm</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
