*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 60vh;
    font-family: "M PLUS Rounded 1c", sans-serif;
}
.banner{
    display: flex;
    align-items: center;
    background-color: #161C3E;
    height: 450px;
 }
.image-container-left{
    padding-right: 100px;
}
 .text p span {
    color: #50DD6F;
    font-weight: bolder;
}

.title1 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
    font-weight: 800;
    margin-top: 5px;
    font-size: 24px;
    margin-bottom: 15px;
    text-align:justify;
}

.para {
    font-size: 14px;
    margin: 0;
    text-align:justify;
}

.image-container-right .text {
    text-align: center;
    color: white;
    background-color: #161C3E;
}
.buttonbanner{
    padding-top:20px;
    text-align:left;
}
li{
    list-style: none;
 }
.buttonbanner li a:last-child {
    text-transform: capitalize;
    text-decoration: none;
    background-color: #50DD6F;
    color: #262261;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 9px;
    width:fit-content;
    text-align:justify;
}