<app-navidas></app-navidas>
<div id='courseslist-page'>
    <h2 id='title'> Khóa Học</h2>
    <div id='container' *ngFor="let course of courses">
        <div class="course">
            <img id="img-course" [src]="course.imgUrl">
            <div class="icon-course">
                <div class="icontext">
                    <img src="./assets/image/accesstime.png">
                    <p>{{course.time}}</p>
                </div>
                <div class="icontext">
                    <img src="./assets/image/lesson.png">
                    <p>{{course.numofLessons}} lesson</p>
                </div>
            </div>
            <p class="namecourse">{{course.name}}</p>
            <div class="rate">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <p>5.0</p>
            </div>
            <button class="btdangky">Đăng ký</button>
        </div>
    </div>
</div>
<app-bottom></app-bottom>