

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    .container {
        width: 600px;
        height: 300px;
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-weight: 500;
        font-style: normal;
    }
}
