<app-navidas></app-navidas>
<div>
    <div class='background-container'>
        <div class="text-container">
            KHÓA HỌC TIẾNG ANH NGƯỜI LỚN<br>
            XÂY DỰNG NỀN TẢNG VỮNG CHẮC<br>
            CHO SỰ THÀNH THẠO TIẾNG ANH
        </div>
    </div>
</div>
<p class="title">PHƯƠNG PHÁP HỌC TIẾNG ANH <br> THỰC TẾ & HẤP DẪN</p>
<div class="main-container">
    <div class="content">
        <div class="number_1">
            <img src="assets/number_1.png" alt="">
            <p class="header">PHÁT TRIỂN KỸ NĂNG TƯ DUY</p>
            <div class="paragraph-box">
                Người lớn tham gia các hoạt động kích thích
                tư duy phản biện và sáng tạo, khuyến khích
                tìm ra những giải pháp đáng ngạc nhiên cho các vấn đề.
            </div>
        </div>
        <div class="number_2">
            <img src="assets/number_2.png" alt="">
            <p class="header">KHUYNH HƯỚNG HỌC TẬP</p>
            <div class="paragraph-box">
                Nâng cao phát triển nhận thức, hành vi,
                cảm xúc và mối quan hệ xã hội, thúc đẩy
                linh hoạt, độc lập và kỹ năng giải quyết vấn đề.
            </div>
        </div>
        <div class="number_3">
            <img src="assets/number_3.png" alt="">
            <p class="header">KHUYẾN KHÍCH SÁNG TẠO</p>
            <div class="paragraph-box">
                Tham gia các hoạt động khuyến khích sáng tạo
                và giải quyết vấn đề sáng tạo.
            </div>
        </div>
        <div class="number_4">
            <img src="assets/number_4.png" alt="">
            <p class="header">KHUYẾN KHÍCH HỢP TÁC</p>
            <div class="paragraph-box">
                Các hoạt động tương tác với đồng nghiệp giúp
                người lớn hiểu về các mối quan hệ xã hội, xác
                định ranh giới, học các nguyên tắc xã hội,
                chia sẻ và thông cảm.
            </div>
        </div>
    </div>
</div>

<p class="title">HỆ THỐNG GIÁO DỤC</p>
<div class="end-container">
    <div class="box">
        <img src="assets/box1.png" alt="">
        <p class="header-box">KẾT HỢP KIẾN THỨC & CHỦ ĐỀ THỰC TẾ</p>
        <div class="content-box">
            Phương pháp giảng dạy tích hợp
            công nghệ hiện đại, giúp người lớn
            nắm bắt kiến thức nhanh chóng.
        </div>
    </div>
    <div class="box">
        <img src="assets/box2.png" alt="">
        <p class="header-box">ỨNG DỤNG CÔNG NGHỆ CAO</p>
        <div class="content-box">
            Ứng dụng công nghệ đa nền tảng giúp
            người lớn trải nghiệm các bài giảng một
            cách chân thực và sinh động.
        </div>
    </div>
    <div class="box">
        <img src="assets/box3.png" alt="">
        <p class="header-box">PHƯƠNG PHÁP DẠY HỌC HẤP DẪN</p>
        <div class="content-box">
            Kết hợp trò chơi và thực hành vào giờ học
            để tăng cường việc học, mang đến không
            gian vừa học vừa chơi cho người lớn.
        </div>
    </div>
</div>
<app-bottom></app-bottom>
