* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin: 0;
}

.background-container {
    position: relative;    
    align-items: center;
    justify-content: center;
    background-image: url('src/assets/background-kids.png');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    width: 100%;
}

.text-container {
    color: white;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    font-size: 32px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: rgba(38, 34, 97, 1);
    margin: 40px 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 0 20px;
}

.number_1, .number_2, .number_3, .number_4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.number_1 img, .number_2 img, .number_3 img, .number_4 img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.header {
    font-size: 24px;
    color: rgba(70, 64, 138, 1);
    margin-bottom: 10px;
}

.paragraph-box {
    font-size: 16px;
    color: #333;
    max-width: 250px;
}

.end-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
}

.header-box {
    font-size: 20px;
    color: rgba(38, 34, 97, 1);
    margin-bottom: 10px;
}

.content-box {
    font-size: 15px;
    color: #333;
}
