<div class="navidas">
    <nav class="navbar-one flex">
        <div class="right flex">
            <ul class="flex">
                <li><b href="#">Học viên</b></li>
                <li><b href="#">Giáo viên</b></li>
            </ul>
        </div>
    </nav>
    <nav class="navbar-second flex">
        <div class="logo">
            <img src="./assets/logoll.png" alt="logo">
        </div>
            <ul class="flex">
                <li><a href="#">Về chúng tôi</a></li>
                <li><a href="#">Chương trình học</a></li>
                <li><a href="#">Cơ sở vật chất</a></li>
                <li><a href="#">Tiện ích</a></li>
                <li><a href="#">Liên hệ</a></li>
                <li><a href="#">Tư vấn ngay</a></li>
            </ul> 
    </nav>
</div>