<!DOCTYPE html>
<html lang="vn">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compartible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link ref="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link ref="stylesheet" href="navidas.component.scss">
    </head>
    <body>
        <nav class="navbar-one flex">
            <div class="right flex">
                <ul class="flex">
                    <li><b href="#">Học viên</b></li>
                    <li><b href="#">Giáo viên</b></li>
                </ul> 
            </div>
        </nav>
        <nav class="navbar-second flex">
         <div class="logo">
            <img src="./assets/logoll.png" alt="logo">
        </div>
            <ul class="flex">
                <li><a href="#">Về chúng tôi</a></li>
                <li><a href="#">Chương trình học</a></li>
                <li><a href="#">Cơ sở vật chất</a></li>
                <li><a href="#">Tiện ích</a></li>
                <li><a href="#">Liên hệ</a></li>
                <li><a href="#">Tư vấn ngay</a></li>
            </ul> 
        </nav>

        <div class="flexban">
            <div class="banner">
                <div class="image-container-left">
                    <img src="assets/EnglishBanner.png" alt="background-left">
                </div>
                <div class="image-container-right">
                    <div class="text">
                        <p class="title1"> Chào mừng bạn đến với <span><br>HÀNH TRÌNH XÂY DỰNG TƯƠNG LAI</span></p>
                        <div class="para">
                            <p>LinguaLab với khát vọng mang đến chất lượng đào tạo Quốc Tế cho thế hệ công dân</p>
                            <p>Toàn cầu. Đồng hành cùng LinguaLab là đội ngũ giáo viên có 100 năm kinh nghiệm.</p>
                            <p> trong lĩnh vực giáo dục.</p>
                        </div>
                        <div class="buttonbanner">
                            <li><a href="#">Tìm hiểu thêm</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
