<div id="achievements-page">
    <div id="achievements-title">
        <h3 id="title">THÀNH TÍCH NỔI BẬT</h3>
    </div>
    <div id="achievements">
        <div class="achievement-container">        
            <img src="./assets/image/img-content.jpg" class="img-content">
            <div id="content">
                <h4 id="title-content">
                    Sự chăm chỉ của bạn sẽ được đền đáp
                </h4>
                <div class="text-content">
                    <p>
                        Từng là người rất kém Tiếng Anh. Nhưng chính nhờ sự chăm chỉ anh ấy đã làm được. 
                    </p>
                    <p>IELTS: 5.5</p>
                </div>
            </div>
        </div>

        <div class="achievement-container">        
            <img src="./assets/image/img-content.jpg" class="img-content">
            <div id="content">
                <h4 id="title-content">
                    Sự chăm chỉ của bạn sẽ được đền đáp
                </h4>
                <div class="text-content">
                    <p>
                        Từng là người rất kém Tiếng Anh. Nhưng chính nhờ sự chăm chỉ anh ấy đã làm được. 
                    </p>
                    <p>IELTS: 5.5</p>
                </div>
            </div>
        </div>

        <div class="achievement-container">        
            <img src="./assets/image/img-content.jpg" class="img-content">
            <div id="content">
                <h4 id="title-content">
                    Sự chăm chỉ của bạn sẽ được đền đáp
                </h4>
                <div class="text-content">
                    <p>
                        Từng là người rất kém Tiếng Anh. Nhưng chính nhờ sự chăm chỉ anh ấy đã làm được. 
                    </p>
                    <p>IELTS: 5.5</p>
                </div>
            </div>
        </div>
    </div>
</div>


