#achievements-page {
    padding: 20px;
    background-color: #f9fff9;
    /* Light green background */
}

#achievements-title h3 {
    text-align: center;
    background-color: #262261;
    color: white;
    /* Dark green for title */
    font-size: 2em;
    margin-bottom: 20px;
}

#achievements {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.achievement-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    /* White background */
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.achievement-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.achievement-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content #title-content {
    color: #262261;
    /* Dark blue for content title */
    font-size: 1.3em;
    margin-bottom: 8px;
}

.text-content p {
    color: #333;
    /* Dark gray for text */
    margin: 3px 0;
    font-size: 1.1em;
}

.text-content p:last-child {
    font-weight: bold;
    font-size: 1.2em;
}