<div id="achievements-page">
    <div id="achievements-title">
        <h3 id="title">THÀNH TÍCH NỔI BẬT</h3>
    </div>
    <div id="achievements">
        <div class="achievement-container">        
            <img src="./assets/image/img-content.jpg" class="img-content">
            <div id="content">
                <h4 id="title-content">
                    Sự chăm chỉ của bạn sẽ được đền đáp
                </h4>
                <div class="text-content">
                    <p>
                        Từng là người rất kém Tiếng Anh. Nhưng chính nhờ sự chăm chỉ anh ấy đã làm được. 
                    </p>
                    <p>Đặng Xuân Thịnh</p>
                    <p>IELTS: 7.0</p>
                </div>
            </div>
        </div>

        <div class="achievement-container">        
            <img src="https://i.pinimg.com/564x/3c/2c/cf/3c2ccf74cee8ab12ae79a3e136bb0294.jpg" class="img-content">
            <div id="content">
                <h4 id="title-content">
                    Tuổi nhỏ nhưng trí không nhỏ
                </h4>
                <div class="text-content">
                    <p>
                        Em đã làm được điều mà nhiều người lớn còn chưa làm được.

                    </p>
                    <p>Nguyễn Huỳnh Vân Anh </p>
                    <p>IELTS: 6.5</p>
                </div>
            </div>
        </div>

        <div class="achievement-container">        
            <img src="https://congdankhuyenhoc.qltns.mediacdn.vn/449484899827462144/2023/6/7/6-nguoi-phu-nu-64-tuoi-thuc-den-3-gio-sang-de-on-thi-tot-nghiep-trung-hoc-pho-thong-ngo-thi-kim-chi-1686129641302966980866.jpg" class="img-content">
            <div id="content">
                <h4 id="title-content">
                    Việc học chưa bao giờ là muộn cả
                </h4>
                <div class="text-content">
                    <p>
                        Bác tuy là lớn tuổi nhưng vì muốn thực hiện ước mơ đi du lịch nước ngoài nên bác đã quyết tâm học Tiếng Anh.
                        Sau bao cố gắng, bác đã đạt được điều mình mong muốn. 
                    </p>
                    <p> Bác Lê Thị Quỳnh</p>
                    <p>IELTS: 7.2</p>
                </div>
            </div>
        </div>
    </div>
</div>



