<app-navidas></app-navidas>
<div>
    <div class='background-container'>
        <div class="text-container">
            KHÓA ÔN THI IELTS CẤP TỐC<br>
            CHUẨN BỊ HIỆU QUẢ CHO KỲ THI IELTS
        </div>
        <img src="assets/ielts-main.png" alt="">
    </div>
</div>
<p class="title">PHƯƠNG PHÁP HỌC HIỆU QUẢ CHO IELTS</p>
<div class="main-container">
    <img src="assets/ielts.png" alt="main">
    <div class="content">
        <div class="number_1">
            <img src="assets/number_1.png" alt="">
            <p id="header1">CHUẨN BỊ KỸ NĂNG KỲ THI</p>
            <div id="paragraph-box1">
                Khóa học tập trung vào việc nâng cao các kỹ năng nghe, nói, đọc và viết cần thiết cho kỳ thi IELTS.
            </div>
        </div>
        <div class="number_2">
            <img src="assets/number_2.png" alt="">
            <p id="header2">LÀM QUEN VỚI FORMAT ĐỀ THI</p>
            <div id="paragraph-box2">
                Học viên sẽ làm quen với các định dạng đề thi IELTS và rèn luyện kỹ năng làm bài hiệu quả.
            </div>
        </div>
        <div class="number_3">
            <img src="assets/number_3.png" alt="">
            <p id="header3">ÔN LUYỆN THỬ NHIỀU ĐỀ THI THỰC TẾ</p>
            <div id="paragraph-box3">
                Tham gia vào các bài tập và đề thi mô phỏng thực tế để nâng cao kỹ năng và cảm thụ.
            </div>
        </div>
        <div class="number_4">
            <img src="assets/number_4.png" alt="">
            <p id="header4">PHƯƠNG PHÁP HỌC LINH HOẠT</p>
            <div id="paragraph-box4">
                Cung cấp các phương pháp học tập linh hoạt và cá nhân hóa để phù hợp với từng học viên.
            </div>
        </div>
    </div>
</div>

<p class="title">PHƯƠNG PHÁP GIẢNG DẠY</p>
<div class="end-container">
    <div class="box1">
        <img src="assets/box1.png" alt="">
        <p id="header-box1">HƯỚNG DẪN CHI TIẾT KỸ NĂNG</p>
        <div id="content-box1">
            Hướng dẫn chi tiết về từng kỹ năng trong kỳ thi IELTS và cách cải thiện hiệu quả.
        </div>
    </div>
    <div class="box2">
        <img src="assets/box2.png" alt="">
        <p id="header-box2">SỬ DỤNG CÔNG NGHỆ ĐỂ HỌC TẬP</p>
        <div id="content-box2">
            Sử dụng công nghệ để tăng cường học tập và tiếp cận tài liệu học một cách hiệu quả.
        </div>
    </div>
    <div class="box3">
        <img src="assets/box3.png" alt="">
        <p id="header-box3">CHƯƠNG TRÌNH HỌC LINH ĐỘNG</p>
        <div id="content-box3">
            Thiết kế chương trình học linh hoạt và đáp ứng nhu cầu học viên để đạt được kết quả cao nhất.
        </div>
    </div>
</div>
<app-bottom></app-bottom>
